.list-section {
  overflow: hidden;
}

.list {
  display: flex;
  margin: -1rem;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
}

.list-entry {
  flex: 1;
  padding: 1rem;
}

.list-entry--one-third {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% / 3);
}

.list-entry--one-forth {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 25%;
}

.list-breaker {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 100%;
}
