.section {
  overflow: hidden;
}

.list {
  display: flex;
  margin: -1rem;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
}

.listEntry {
  flex: 1;
  padding: 1rem;
}

.listEntryOneThird {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% / 3);
}

.listEntryOneFourth {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 25%;
}

.listBreaker {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 100%;
}

.button {
  padding: 0.5rem;
  background: var(--color2);
  color: #fff;
  outline-offset: -3px;
  outline-color: var(--color2);
}

.buttonMore {
  display: block;
  width: 100%;
  margin-top: 1rem;
}
