:root {
  --color1: rgba(14, 124, 123, 1);
  --color2: rgba(23, 190, 187, 1);
  --color3: rgba(212, 244, 221, 1);
  --color4: rgba(214, 34, 70, 1);
  --color5: rgba(75, 29, 63, 1);
}

html {
  height: 100%;
  background: var(--color3);
}

body {
  display: grid;
  margin: 0;
  padding: 0;
  min-height: 100%;
  grid-template-rows: 1fr;
  background: var(--color3);
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
